In [19]:
import pandas as pd 
from imblearn.over_sampling import SMOTE
import numpy as nmp
import matplotlib.pyplot as plt
from sklearn import linear_model as lm 
import joblib as jb
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [20]:
df = pd.read_csv("survey lung cancer.csv")
df

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,F,56,1,1,1,2,2,2,1,1,2,2,2,2,1,YES
305,M,70,2,1,1,1,1,2,2,2,2,2,2,1,2,YES
306,M,58,2,1,1,1,1,1,2,2,2,2,1,1,2,YES
307,M,67,2,1,2,1,1,2,2,1,2,2,2,1,2,YES
308,M,62,1,1,1,2,1,2,2,2,2,1,1,2,1,YES

In [21]:
newDF = pd.get_dummies(df.GENDER)
newDF

     F  M
0    0  1
1    0  1
2    1  0
3    0  1
4    1  0
..  .. ..
304  1  0
305  0  1
306  0  1
307  0  1
308  0  1

[309 rows x 2 columns]

In [22]:
updatedDF = pd.concat([df,newDF],axis='columns')
updatedDF

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER,F,M
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES,0,1
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES,0,1
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO,1,0
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO,0,1
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,F,56,1,1,1,2,2,2,1,1,2,2,2,2,1,YES,1,0
305,M,70,2,1,1,1,1,2,2,2,2,2,2,1,2,YES,0,1
306,M,58,2,1,1,1,1,1,2,2,2,2,1,1,2,YES,0,1
307,M,67,2,1,2,1,1,2,2,1,2,2,2,1,2,YES,0,1
308,M,62,1,1,1,2,1,2,2,2,2,1,1,2,1,YES,0,1

In [23]:
X = updatedDF.drop(['GENDER','LUNG_CANCER','F'],axis = 'columns')
X

,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,M
0,69,1,2,2,1,1,2,1,2,2,2,2,2,2,1
1,74,2,1,1,1,2,2,2,1,1,1,2,2,2,1
2,59,1,1,1,2,1,2,1,2,1,2,2,1,2,0
3,63,2,2,2,1,1,1,1,1,2,1,1,2,2,1
4,63,1,2,1,1,1,1,1,2,1,2,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,56,1,1,1,2,2,2,1,1,2,2,2,2,1,0
305,70,2,1,1,1,1,2,2,2,2,2,2,1,2,1
306,58,2,1,1,1,1,1,2,2,2,2,1,1,2,1
307,67,2,1,2,1,1,2,2,1,2,2,2,1,2,1
308,62,1,1,1,2,1,2,2,2,2,1,1,2,1,1

In [24]:
y= df.LUNG_CANCER
y

0      YES
1      YES
2       NO
3       NO
4       NO
      ...
304    YES
305    YES
306    YES
307    YES
308    YES
Name: LUNG_CANCER, Length: 309, dtype: object

In [25]:
X_train,X_test,y_train,y_test =train_test_split(X,y,test_size=0.2, random_state=42)

In [26]:
smote = SMOTE(random_state=42)
X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)

In [27]:
X_train_balanced = pd.concat([X_train, X_train_resampled], axis=0)
y_train_balanced = pd.concat([y_train, pd.Series(y_train_resampled)], axis=0)

In [28]:
scaler = StandardScaler()
X_train_balanced_scaled = scaler.fit_transform(X_train_balanced)
X_test_scaled = scaler.transform(X_test)

In [29]:
logreg = LogisticRegression()
logreg.fit(X_train_balanced_scaled, y_train_balanced)

LogisticRegression()

In [30]:
y_pred = logreg.predict(X_test_scaled)

In [31]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

          NO       0.50      0.50      0.50         2
         YES       0.98      0.98      0.98        60

    accuracy                           0.97        62
   macro avg       0.74      0.74      0.74        62
weighted avg       0.97      0.97      0.97        62

In [32]:
y_test

288    YES
9      YES
57     YES
60     YES
25     YES
      ...
198    YES
195    YES
210    YES
224    YES
158    YES
Name: LUNG_CANCER, Length: 62, dtype: object

In [33]:
X_test

,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,M
288,61,1,2,2,2,1,1,2,2,1,2,1,2,1,0
9,53,2,2,2,2,2,1,2,1,2,1,1,2,2,1
57,73,1,1,1,1,2,1,2,1,2,2,2,2,2,1
60,70,1,2,1,2,2,2,2,2,2,2,1,2,2,1
25,65,1,2,2,1,1,2,1,2,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,73,2,2,2,1,2,1,2,1,2,1,1,1,1,0
195,69,1,2,2,1,1,1,1,2,2,2,2,2,1,1
210,54,2,1,1,1,1,1,2,2,2,2,1,1,1,1
224,62,2,1,1,2,1,2,2,2,2,2,1,2,2,0
158,56,1,1,2,2,2,2,2,2,2,1,2,2,2,0

In [35]:
logreg.predict(X_test)

C:\Users\hp\anaconda3\lib\site-packages\sklearn\base.py:413: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

array(['YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES'],
      dtype=object)

In [36]:
y_pred = logreg.predict(X_test)
y_pred

C:\Users\hp\anaconda3\lib\site-packages\sklearn\base.py:413: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

array(['YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES'],
      dtype=object)

In [37]:
logreg.score(X_test,y_test)

C:\Users\hp\anaconda3\lib\site-packages\sklearn\base.py:413: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

0.967741935483871

In [38]:
logreg.predict([[69,1,2,2,1,1,2,1,2,2,2,2,2,2,0]])

array(['YES'], dtype=object)

In [40]:
import pickle
pickle.dump(logreg,open("model.pkl","wb"))